.admin-login-page{

height:100vh;

width:100%;

display:flex;

justify-content:center;

align-items:center;


background:

linear-gradient(

rgba(0,0,0,.75),

rgba(0,0,0,.85)

),

url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba");


background-size:cover;

background-position:center;


font-family:
'Inter',
sans-serif;


}





.login-overlay{

position:absolute;

inset:0;

background:

radial-gradient(

circle,

transparent,

#000

);


}





.admin-login-card{


position:relative;


width:420px;


padding:45px;


background:

rgba(20,20,20,.85);


border-radius:25px;


border:1px solid rgba(255,255,255,.1);


backdrop-filter:blur(20px);


box-shadow:

0 30px 80px rgba(0,0,0,.7);


text-align:center;


color:white;


}





.admin-logo{


font-size:50px;


margin-bottom:10px;


}





.admin-login-card h1{


font-size:32px;


letter-spacing:3px;


margin:0;


color:#fff;


}



.admin-login-card p{


color:#aaa;


margin-bottom:35px;


letter-spacing:2px;


}






.input-box{


display:flex;


align-items:center;


gap:15px;


background:#111;


border:1px solid #333;


padding:15px;


border-radius:12px;


margin-bottom:20px;


color:#aaa;


}



.input-box input{


width:100%;


background:none;


border:none;


outline:none;


color:white;


font-size:15px;


}






.login-btn{


width:100%;


padding:15px;


border:none;


border-radius:12px;


font-size:16px;


font-weight:bold;


cursor:pointer;


color:white;


background:

linear-gradient(

135deg,

#e50914,

#ff512f

);


box-shadow:

0 10px 30px rgba(229,9,20,.4);


transition:.3s;


}





.login-btn:hover{


transform:translateY(-3px);


}





.login-btn:disabled{


opacity:.6;


}




.login-error{


color:#ff4d4d!important;


font-size:14px;


}




@media(max-width:600px){


.admin-login-card{


width:85%;


padding:30px;


}


}