.otp-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:

linear-gradient(
rgba(0,0,0,.8),
rgba(0,0,0,.9)
),

url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba");


background-size:cover;

color:white;

}



.otp-card{

width:400px;

padding:45px;

background:

rgba(20,20,20,.85);

border-radius:25px;

text-align:center;

backdrop-filter:blur(20px);

box-shadow:

0 30px 70px black;

}



.otp-icon{

font-size:45px;

color:#e50914;

}



.otp-card h1{

letter-spacing:3px;

}



.otp-card p{

color:#aaa;

}




.otp-input{


width:100%;

padding:18px;

margin:25px 0;

background:#111;

border:1px solid #333;

border-radius:12px;

color:white;

font-size:20px;

text-align:center;

letter-spacing:8px;

outline:none;


}



.otp-card button{


width:100%;

padding:15px;

border:none;

border-radius:12px;

background:

linear-gradient(
135deg,
#e50914,
#ff512f
);


color:white;

font-weight:bold;

cursor:pointer;


}



.otp-error{

color:#ff4d4d;

}