.admin-layout{


    min-height:100vh;


    background:#080808;


}




.admin-main{


    margin-left:260px;


    width:calc(100% - 260px);


}





.admin-content{


    padding-top:100px;


    padding-left:35px;


    padding-right:35px;


    padding-bottom:40px;



}




@media(max-width:900px){



.admin-main{


    margin-left:80px;


    width:calc(100% - 80px);


}





.admin-content{


    padding-left:15px;

    padding-right:15px;


}



}