.movies-page{

padding:40px;

background:#080808;

min-height:100vh;

color:white;

}


.movies-page h1{

font-size:36px;

margin-bottom:30px;

}



.movies-grid{

display:grid;

grid-template-columns:
repeat(5,1fr);

gap:25px;

}



@media(max-width:1000px){

.movies-grid{

grid-template-columns:
repeat(3,1fr);

}

}



@media(max-width:600px){

.movies-grid{

grid-template-columns:
repeat(2,1fr);

}

}